<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Recipe Name</th>
                <th>Recipe Image</th>
                <th>Instructions</th>
                <th>Ingredients</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ i.recipe_name }}</td>
                <td><img src="{{ i.recipe_image.url }}" style="width: 50px;
                        height: 50px;" alt=""></td>
                <td>{{ i.instruction }}</td>
                <td>{{ i.ingredients }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>